
  <li>
  	<%= link_to 'Home', root_url, class:'link' %>
  		
  </li>
  <li>
	<a href="/about" class="link">About us</a>
  </li>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete, class:'link') %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path, class:'link') %>  
  </li>
<% end %>